 <div class = 'container'>
  <%= form_with(model: @user, local: true) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :surname %><br>
      <%= form.text_field :surname %>
    </p>

    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

     <div class="field form-group">
       <%= radio_button("user", "sex", "Male") %>
       <%= form.label :male %><br />
       <%= radio_button("user", "sex", "Female") %>
       <%= form.label :female %><br />
     </div>

    <p>
      <%= form.label :age %><br>
      <%= form.text_field :age %>
    </p>
    <%= link_to 'Change password', edit_user_registration_path, :class => 'navbar-link' %>
    <p>
      <%= form.submit %>
    </p> 
  <% end %>
 </div>
